<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
      }
      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
      }
      h1 {
        color: #333;
        margin-bottom: 20px;
        font-size: 24px;
      }
      button {
        background-color: #dc3545;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
        width: 100%;
      }
      button:hover {
        background-color: #c82333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello, Welcome to Dashboard</h1>
      <form id="signoutForm">
        <button type="submit">Sign Out</button>
      </form>
    </div>

    <script>
      document
        .getElementById("signoutForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          window.location.href = "/";
        });
    </script>
  </body>
</html>
